<!-- ======= Hero Section ======= -->
<section id="hero" style="background-image: url('assets/img/1.jpg');  background-size: cover;">
    <div>
      <div style="height: 400px;">
      <div class="row justify-content-center pt-5 ">
        <div class=" col-md-6">
          <h4 class="mt-5 text-center mb-0 fw-light ">Your Health, </h4>
          <h1 class=" h-25 mt-3 text-center mb-5 fw-bold">Our Priority </h1>
        </div>
        <!-- ======= Search Section ======= -->
         <div class="custom-container container ">
        <div class="row justify-content-center d-flex justify-content-around p-2 select">
          <select (change)="selected($event)" class="col-lg-4  ml-md-0 mb-2 mb-lg-0 form-select border-2 ">
            <option selected="" value="All" id="All">All Specialization</option>
            <option  *ngFor="let Specialization of specializations" [value]="Specialization.id "> {{ Specialization.name }}</option>
            </select>
          <select  (change)="doctorSelected($event)" class=" col-lg-4  ml-md-0 mb-2 mb-lg-0 form-select border-2">
          <option value="allDoctors" selected="">All Doctors</option>   
          <ng-container *ngIf="isSpecializationSelected" >
            <ng-container *ngFor="let doctor of Doctors"> <option *ngIf="doctor.status && doctor.weekSchadual?.length==7" [value]="doctor.id">{{doctor.name}}</option></ng-container>
          </ng-container>
          <ng-container *ngIf="!isSpecializationSelected" >
  
            <ng-container *ngFor="let doctor of doctors"> <option *ngIf="doctor.status && doctor.weekSchadual?.length==7" [value]="doctor.id">{{doctor.name}}</option></ng-container>
          </ng-container>
  
        </select>
        <button class="col-lg-2 btn appointment-btn scrollto btn-lg text-dark-50 fw-bold mx-sm-auto mx-md-auto mx-lg-1 mx-0 " (click)="onSearch($event)">Search</button>
        </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  <!-- ======= Search Section ======= -->
 